@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FileSettings - StealthUI</title>
    <link href="~/wwwroot/lib/iview/dist/styles/iview.css" rel="stylesheet" />

</head>
<body>
    <div class="container body-content">
        <div style="margin-top:10px;">
            <h2 style="height: 20px;">FileSettings</h2>
        </div>
        <div id="addfilesetting" style="text-align:right;margin:10px;">
            <addmodal></addmodal>
        </div>
        <div id="tablediv" style="padding:10px;">
            <filesetting-row :filesettings="filesettings"></filesetting-row>
        </div>
        <div id="editdiv">
            <editmodal v-bind:editdata="editdata"></editmodal>
        </div>
        <hr />
        <footer>
            <p>&copy; 2018 - StealthUI</p>
        </footer>
    </div>
    <script src="~/wwwroot/lib/vue/dist/vue.js"></script>
    <script src="~/wwwroot/lib/iview/dist/iview.js"></script>
    <script src="~/wwwroot/lib/axios/dist/axios.js"></script>
    <script type="text/x-template" id="filesetting-tr">
        <div>
            <row :gutter="16">
                <col span="24">
                <Table border :columns="columns" :data="data"></Table>
                </col>
            </row>
            <row :gutter="16"  style="text-align:right;margin-top:3px;">
                <col span="24">
                <Page :total="total" :page-size="10" :current="current" v-on:on-change="pageing" />
                </col>
            </row>
        </div>
    </script>
    <script>
        var editVue = null;
        var tempFilesetting = null;
        //table组件
        Vue.component("filesetting-row", {
            template: "#filesetting-tr",
            props: ["filesettings"],
            data: function () {
                return {
                    columns: [
                        {
                            title: 'ID',
                            key: 'id',
                            width: 50,
                        },
                        {
                            title: 'KeyName',
                            key: 'keyName',
                        },
                        {
                            title: 'FileName',
                            key: 'fileName',

                        },
                        {
                            title: 'FilePath',
                            key: 'filePath'
                        },
                        {
                            title: 'FileEncoding',
                            key: 'fileEncoding',

                        },
                        {
                            title: 'Validate',
                            key: 'validate',
                            width: 90,
                        },
                        {
                            title: 'operate',
                            key: 'action',
                            width: 100,
                            align: 'center',
                            render: (h, params) => {
                                return h('div', [
                                    h('Button', {
                                        props: {
                                            type: 'success',
                                            icon: 'md-create',
                                            size: 'small'
                                        },
                                        style: {
                                            marginRight: '5px'
                                        },
                                        on: {
                                            click: () => {
                                                this.edit(params.row)
                                            }
                                        }
                                    }),
                                    h('Button', {
                                        props: {
                                            type: 'error',
                                            icon: 'ios-trash',
                                            size: 'small',
                                        },
                                        on: {
                                            click: () => {
                                                this.delete(params.row, params.index)
                                            }
                                        }
                                    })
                                ]);
                            }
                        }
                    ],
                    data: this.filesettings.list,
                    total: this.filesettings.total,
                    current: this.filesettings.current
                }
            },
            methods: {
                edit: function (filesetting) {
                    if (editVue == null) {
                        editVue = new Vue({
                            el: "#editdiv",
                            data: {
                                editdata: {
                                    filesetting: filesetting,
                                    showmodal: true,
                                    ruleValidate: {
                                        keyName: [
                                            { required: true, message: 'keyname cannot be empty, is required', trigger: 'blur' },
                                            { type: 'string', max: 64, message: 'length less than 256', trigger: 'blur' }
                                        ],
                                        fileName: [
                                            { required: true, message: 'FileName cannot be empty, is required', trigger: 'blur' }
                                        ],
                                        fileEncoding: [
                                            { required: true, message: 'FileEncoding cannot be empty, is required', trigger: 'blur' }
                                        ],
                                    }
                                }
                            }
                        });
                    } else {
                        editVue.editdata.filesetting = filesetting;
                        editVue.editdata.showmodal = true;
                    }

                    //深度clone
                    tempFilesetting = JSON.parse(JSON.stringify(editVue.editdata.filesetting))
                },
                delete: function (filesetting, index) {
                    if (confirm("delete " + filesetting.keyName + "?")) {
                        axios.delete("/removeFilesetting/" + filesetting.id)
                            .then(function (response) {
                                //判断请求状态
                                if (response.status == 200) {
                                    var returnData = response.data
                                    if (returnData.result) {
                                        getFile(fileSettingVue.filesettings.current);
                                    } else {
                                        alert(returnData.messages)
                                    }
                                }
                                else {
                                    alert(response.statusText);
                                }
                            })
                            .catch(function (error) {
                                alert(error)
                                console.log(error);
                            });
                    }
                },
                pageing: function (pageindex) {
                    getFile(pageindex)
                }
            }
        })
        var fileSettingVue = null;
        function getFile(pageindex) {
            axios.get("/filesettings/" + pageindex)
                .then(function (response) {
                    //判断请求状态
                    if (response.status == 200) {
                        document.getElementById("tablediv").innerHTML = '<filesetting-row :filesettings="filesettings"></filesetting-row>'
                        var returnData = response.data
                        if (returnData.result) {
                            fileSettingVue = new Vue({
                                el: "#tablediv",
                                data: {
                                    filesettings: {
                                        list: returnData.data.list,
                                        total: returnData.data.total,
                                        current: pageindex
                                    }
                                }
                            });
                        } else {
                            alert(returnData.messages)
                        }
                    }
                    else {
                        alert(response.statusText);
                    }
                })
                .catch(function (error) {
                    alert(error)
                    console.log(error);
                });
        }
        getFile(1);
    </script>

    <script type="text/x-template" id="editmodal-div">
        <Modal v-model="editdata.showmodal"
               title="Edit"
               width="800px"
               :mask-closable="false">
            <div>
                <Form ref="editdata.filesetting" :model="editdata.filesetting" :rules="editdata.ruleValidate" label-position="top">
                    <row :gutter="16">
                        <Col span="24">
                        <FormItem label="KeyName" prop="keyName">
                            <Input v-model="editdata.filesetting.keyName"></Input>
                        </FormItem>
                        </Col>
                    </row>
                    <row :gutter="16">
                        <Col span="12">
                        <FormItem label="FileName" prop="fileName">
                            <Input v-model="editdata.filesetting.fileName"></Input>
                        </FormItem>
                        </Col>
                        <Col span="12">
                        <FormItem label="FilePath" prop="filePath">
                            <Input v-model="editdata.filesetting.filePath"></Input>
                        </FormItem>
                        </Col>
                    </row>
                    <row :gutter="16">
                        <Col span="12">
                        <FormItem label="FileEncoding" prop="fileEncoding">
                            <Input v-model="editdata.filesetting.fileEncoding"></Input>
                        </FormItem>
                        </Col>
                        <Col span="12">
                        <FormItem label="Validate">
                            <i-switch v-model="editdata.filesetting.validate" size="large">
                                <span slot="valid">true</span>
                                <span slot="invalid">false</span>
                            </i-switch>
                        </FormItem>
                        </Col>
                    </row>
                </Form>
            </div>
            <div slot="footer">
                <Button type="text" size="large" v-on:click="modalCancel">Cancel</Button>
                <Button type="primary" size="large" v-on:click="modalOk">Sava</Button>
            </div>
        </Modal>
    </script>
    <script>
        Vue.component("editmodal", {
            template: "#editmodal-div",
            props: ["editdata"],
            methods: {
                modalOk() {

                    this.$refs['editdata.filesetting'].validate((valid) => {
                        if (valid) {
                            axios.put("/modifyFilesetting", this.editdata.filesetting)
                                .then(function (response) {
                                    //判断请求状态
                                    if (response.status == 200) {
                                        var returnData = response.data;
                                        if (returnData.result) {
                                            editVue.editdata.showmodal = false;
                                        } else {
                                            alert(returnData.messages);
                                        }
                                    }
                                    else {
                                        alert(response.statusText);
                                    }
                                })
                                .catch(function (error) {
                                    alert(error)
                                    console.log(error);
                                });

                        } else {
                            this.$Message.error('validate failure!');
                        }
                    })
                },
                modalCancel() {
                    for (var key in this.editdata.filesetting) {
                        this.editdata.filesetting[key] = tempFilesetting[key];
                    }
                    editVue.editdata.showmodal = false;
                }
            }
        })
    </script>


    <script type="text/x-template" id="addmodal-div">
        <div>
            <Button type="primary" v-on:click="showmodal = true">Add</Button>
            <Modal v-model="showmodal"
                   title="Add"
                   width="800px"
                   :mask-closable="false">
                <div>
                    <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" label-position="top">
                        <row :gutter="16">
                            <Col span="24">
                            <FormItem label="KeyName" prop="keyName">
                                <Input v-model="formValidate.keyName"></Input>
                            </FormItem>
                            </Col>
                        </row>
                        <row :gutter="16">
                            <Col span="12">
                            <FormItem label="FileName" prop="fileName">
                                <Input v-model="formValidate.fileName"></Input>
                            </FormItem>
                            </Col>
                            <Col span="12">
                            <FormItem label="FilePath" prop="filePath">
                                <Input v-model="formValidate.filePath"></Input>
                            </FormItem>
                            </Col>
                        </row>
                        <row :gutter="16">
                            <Col span="12">
                            <FormItem label="FileEncoding" prop="fileEncoding">
                                <Input v-model="formValidate.fileEncoding"></Input>
                            </FormItem>
                            </Col>
                            <Col span="12">
                            <FormItem label="Validate">
                                <i-switch v-model="formValidate.validate" size="large">
                                    <span slot="valid">true</span>
                                    <span slot="invalid">false</span>
                                </i-switch>
                            </FormItem>
                            </Col>
                        </row>
                    </Form>
                </div>
                <div slot="footer">
                    <Button type="text" size="large" v-on:click="modalCancel">Cancel</Button>
                    <Button type="primary" size="large" v-on:click="modalOk">Sava</Button>
                </div>
            </Modal>
        </div>
    </script>
    <script>
        Vue.component("addmodal", {
            template: "#addmodal-div",
            data: function () {
                return {
                    showmodal: false,
                    formValidate: {
                        id: 0,
                        keyName: "",
                        fileName: "",
                        filePath: "",
                        fileEncoding: "",
                        validate: false
                    },
                    ruleValidate: {
                        keyName: [
                            { required: true, message: 'keyname cannot be empty, is required', trigger: 'blur' },
                            { type: 'string', max: 64, message: 'length less than 256', trigger: 'blur' }
                        ],
                        fileName: [
                            { required: true, message: 'Host cannot be empty, is required', trigger: 'blur' }
                        ],
                        fileEncoding: [
                            { required: true, message: 'FileEncoding cannot be empty, is required', trigger: 'blur' }
                        ],
                    }
                }
            },
            methods: {
                modalOk() {
                    this.$refs['formValidate'].validate((valid) => {
                        if (valid) {
                            var obj = this;
                            addFile(this.formValidate, function (newFileSetting) {
                                console.log(newFileSetting)
                                //深度clone
                                // var newSettlemtntSetting = JSON.parse(JSON.stringify(obj.formValidate))
                                //settlemtntSettingVue.Filesettings.push(newFileSetting)
                                getFile(fileSettingVue.filesettings.current);
                                obj.$refs['formValidate'].resetFields();
                                obj.showmodal = false;
                            });
                        } else {
                            this.$Message.error('validate failure!');
                        }
                    })
                },
                modalCancel() {
                    this.showmodal = false;
                }
            }
        })

        function addFile(filesetting, callback) {
            axios.post("/addFilesetting", filesetting)
                .then(function (response) {
                    //判断请求状态
                    if (response.status == 200) {
                        var returnData = response.data;
                        if (returnData.result) {
                            callback(returnData.data);
                        } else {
                            alert(returnData.messages);
                        }
                    }
                    else {
                        alert(response.statusText);
                    }
                })
                .catch(function (error) {
                    alert(error);
                    console.log(error);
                });
        }
        new Vue({
            el: "#addfilesetting"
        });
    </script>
</body>
</html>
